/* HTML elements */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(https://images.unsplash.com/photo-1516922712224-0064354b2ff6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=66c464c68665603df4a205ba3eb168c7&auto=format&fit=crop&w=934&q=80);
    background-size: 375px 667px;
}

h1, h2, h3{
    text-align: center;
    color: black
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/* CLASSES */
.instructions h1 {
    font-size: 24px;
    font-weight: 700;
}

.instructions {
    background-color: #26c6da;
    padding: 5px;
    color: black;
}

.loginButton {
    margin: 25px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.loginForm {
    background-color: #26c6da;
    width: 30%;
    height: 275px;
    width: 175px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
    color: black
}


.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar {
  background-color: #26c6da;
  width: 100%;
  border-radius: 0px;
  text-align: center;
}

.navBar {
    float: left;
    padding: 0;
    width: 115px;
}

.workoutButton {
    text-align: center
}