.editExerciseClass {
    height: 300px;
    width: 300px;
    background-color: #a595cab6;
    box-shadow: rgb(189, 182, 171); 
    padding: 20px; 
    color: black;
}

.inputField{
    margin-left: 80px;
}

.inputField input {
    color: white;
    font-weight: bold;
    text-align: center;
}