.updateInWorkout{
    float: center;
     /* display: flex; */
     flex-direction: row;
     display: inline-flex;
     margin-left: 100px;
}

.startWorkoutCards{
    text-align: center;
    margin-bottom: 15px;
    margin-left: 7.5px;
}

img {
    height: 350px;
    width: 250px;
}

#alert-dialog-title {
    color: #000070;
}

